<script>
  import { getContext } from "svelte";
  import { Link } from "svelte-navigator";

  const { send, receive } = getContext("crossfade");
</script>

<nav class="fixed flex h-14 items-center">
  <Link to="/">
    <h1
      class="select-none text-2xl font-semibold focus-visible:outline-none"
      in:receive={{ key: "home" }}
      out:send={{ key: "home" }}
    >
      scybernaut<span class="text-green">.</span>
    </h1>
  </Link>
</nav>
