<script>
  import { Router, Route, Link } from "svelte-navigator";
  import Header from "./lib/Header.svelte";

  import { crossfade, blur } from "svelte/transition";
  import { cubicOut, cubicIn } from "svelte/easing";
  import { setContext } from "svelte";

  const BLUR_IN = {
    duration: 400,
    amount: 15,
    easing: cubicIn,
  };

  const BLUR_IN_DELAY = Object.assign({ delay: 500 }, BLUR_IN);

  const BLUR_OUT = {
    duration: 400,
    amount: 15,
    easing: cubicOut,
  };

  const [send, receive] = crossfade({
    duration: 700,
    easing: cubicOut,

    fallback: (node) => blur(node, BLUR_IN),
  });

  setContext("crossfade", {
    send,
    receive,
  });

  const FULLPAGE_CLASSES =
    "fixed inset-0 max-w-screen-lg mx-auto px-8 sm:px-16 py-4";

  const NAV_BUTTON_CLASSES =
    "px-2 py-1 hover:bg-light/10 rounded transition-colors duration-300 -translate-x-2 font-medium text-light-darker";

  const techTags = [
    {
      colorClasses: "bg-yellow-200 text-stone-900",
      text: "JavaScript/TypeScript",
    },
    { colorClasses: "bg-neutral-700 text-amber-300", text: "Linux" },
    { colorClasses: "bg-cyan-900 text-cyan-300", text: "Tailwind CSS" },
    { colorClasses: "bg-orange-700 text-light ", text: "Svelte" },
    { colorClasses: "bg-light text-neutral-900", text: "React/Next.js" },
    { colorClasses: "bg-sky-800 text-light", text: "C++" },
  ];
</script>

<Router>
  <main
    class="fixed h-full w-full bg-dark font-body text-base tracking-[-0.011em] text-light selection:bg-green selection:text-dark"
  >
    <Route path="/">
      <div class={FULLPAGE_CLASSES}>
        <div class="flex h-full flex-col justify-center">
          <h2
            class="mb-6 w-max -translate-x-1 text-4xl font-semibold focus-visible:outline-none sm:text-6xl"
            in:receive={{ key: "home" }}
            out:send={{ key: "home" }}
          >
            scybernaut<span class="text-green">.</span>
          </h2>

          <nav
            class="flex flex-col items-start gap-x-3 gap-y-1 sm:flex-row sm:items-center sm:text-lg"
            in:blur={BLUR_IN_DELAY}
            out:blur={BLUR_OUT}
          >
            <Link to="about" class={NAV_BUTTON_CLASSES}>about</Link>
            <Link to="contact" class={NAV_BUTTON_CLASSES}>contact</Link>
            <a href="https://gitlab.com/scybernaut" class={NAV_BUTTON_CLASSES}>
              gitlab
            </a>
          </nav>
        </div>
      </div>
    </Route>
    <Route path="about">
      <div class={FULLPAGE_CLASSES}>
        <Header />
        <div
          in:blur={BLUR_IN_DELAY}
          out:blur={BLUR_OUT}
          class="relative top-1/2 -translate-y-1/2 sm:max-w-4/5"
        >
          <h2 class="mb-1 text-xl font-semibold text-gray-400">about</h2>
          <div class="mb-4">
            <h1 class="mb-0.5 text-3xl font-semibold">scybernaut</h1>
            <p class="font-default">/ˈsaɪbɚˌnɔt/</p>
          </div>

          <ul class="ml-4 list-disc sm:ml-8">
            <li class="mb-2">a curious tech enthusiast</li>
            <li class="mb-2">
              <p>is somewhat familiar with these technologies:</p>
              <ul class="mt-1 flex flex-wrap text-sm font-medium">
                {#each techTags as tag}
                  <li
                    class={tag.colorClasses +
                      " mr-1 mb-1 inline rounded px-2 py-0.5 sm:mr-2 sm:py-1"}
                  >
                    {tag.text}
                  </li>
                {/each}
              </ul>
            </li>
          </ul>

          <Link
            to="/"
            class={"mt-10 inline-block pl-1 font-medium text-light-darker " +
              NAV_BUTTON_CLASSES}
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="20"
              class="inline"
            >
              <path
                fill="currentColor"
                d="M10 16.083 3.917 10l1.229-1.229 3.979 3.979V3.917h1.75v8.833l3.979-3.979L16.083 10Z"
              />
            </svg>
            back
          </Link>
        </div>
      </div>
    </Route>
    <Route path="contact">
      <div class={FULLPAGE_CLASSES}>
        <Header />

        <div
          in:blur={BLUR_IN_DELAY}
          out:blur={BLUR_OUT}
          class="relative top-1/2 -translate-y-1/2 sm:max-w-4/5"
        >
          <h2 class="mb-4 text-3xl font-semibold">contact</h2>
          <div
            class="grid auto-rows-fr grid-cols-[repeat(2,_max-content)] place-items-start content-center gap-x-2 gap-y-1"
          >
            <span>email:</span>
            <span class="rounded bg-light/10 p-1 font-mono text-sm"
              >public at scybernaut dot me</span
            >
            <span>gitlab:</span>
            <a
              class="font-medium text-green underline"
              href="https://gitlab.com/scybernaut">@scybernaut</a
            >
            <span>twitter:</span>
            <a
              class="font-medium text-green underline"
              href="https://twitter.com/scybernaut">@scybernaut</a
            >
          </div>
          <Link
            to="/"
            class={"mt-10 inline-block pl-1 font-medium text-light-darker " +
              NAV_BUTTON_CLASSES}
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="20"
              class="inline"
            >
              <path
                fill="currentColor"
                d="M10 16.083 3.917 10l1.229-1.229 3.979 3.979V3.917h1.75v8.833l3.979-3.979L16.083 10Z"
              />
            </svg>
            back
          </Link>
        </div>
      </div>
    </Route>
  </main>
  <footer
    class={FULLPAGE_CLASSES +
      " bottom-0 top-auto h-min text-end text-xs leading-snug text-light-darker/20 sm:text-sm sm:text-light-darker/25"}
  >
    made with svelte & tailwind.<br />
    <a
      href="https://gitlab.com/scybernaut/website"
      target="_blank"
      class="underline hover:text-light-darker/50"
    >
      source available
    </a>
    on gitlab.
  </footer>
</Router>
